
@model UCProperties

@if (Model.Is_Required)
{
    <select name="@ViewBag.Name" id="@Model.Id" class="form-control form-select select2" data-placeholder="@Model.Placeholder" data-val="true" data-val-required="@ViewBag.ErrorMessage">
        <option></option>
        @foreach(UCManualDropdownModel dropdownData in Model.DropDownData){
             if (Model.Value == dropdownData.Value)
            {
                <option value="@dropdownData.Value" selected>@dropdownData.Text</option>
            }
            else
            {
                <option value="@dropdownData.Value">@dropdownData.Text</option>
            }
        }
      
    </select>
    <span class="field-validation-valid" data-valmsg-for="@Model.Id" data-valmsg-replace="true"></span>
}
else
{
    <select name="@Model.Name" id="@Model.Id" class="form-control form-select select2" data-placeholder="@Model.Placeholder">
        <option></option>

       @foreach(UCManualDropdownModel dropdownData in Model.DropDownData){
             if (Model.Value == dropdownData.Value)
            {
                <option value="@dropdownData.Value" selected>@dropdownData.Text</option>
            }
            else
            {
                <option value="@dropdownData.Value">@dropdownData.Text</option>
            }
        }
      
    </select>
}


